<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row m-5">
        <!-- attibute binding - interpolation -->
        <h1>{{title}}</h1>

    </div>

    <div class="container p-5">
        <div class="row p-5">
            <!-- event binding - click esemenynel fut le a onSwitchBtnStatus() metodus-->
            <button (click)="onSwitchBtnStatus()" class="btn btn-success"><i class="fa fa-refresh"></i> </button>

        </div>
        <div class="row pt=5">
            <div class="col-12">
                <div class="btn-group">
                    <!--  property binding - tulajdonsagot allit be egy  valtozobol -->
                    <button [disabled]="btnDisabled" class="btn btn-danger p-4 m-1"><i class="fa fa-refresh"></i> </button>
                    <button [disabled]="btnDisabled" class="btn btn-primary p-4 m-1"><i class="fa fa-check"></i> </button>
                    <button [disabled]="btnDisabled" class="btn btn-warning p-4 m-1"><i class="fa fa-user"></i> </button>
                    <button [disabled]="btnDisabled" class="btn btn-success p-4 m-1"><i class="fa fa-trash"></i> </button>
                    <button (click)="onShowGreeting()" class="btn btn-success p-4 m1">Udvozlo gomb </button>
                    <!-- a fenti gomok eseten is a disable property-t allitgatom -->
                    <button disabled class="btn btn-success p-4 m-1">disabled gomb </button>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- itt megjelenitem a harom gyermek component-et -->
                        <!-- azon belul pedig a user egy-egy peldanyat -->
                        <app-user-detail [userPeldany]="users[0]" (delUser)="onDeleteOneUser($event)"></app-user-detail>
                        <app-user-detail [userPeldany]="users[1]" (delUser)="onDeleteOneUser($event)"></app-user-detail>
                        <app-user-detail [userPeldany]="users[2]" (delUser)="onDeleteOneUser($event)"></app-user-detail>

                    </div>
                </div>


            </div>
        </div>
    </div>




</body>

</html>