<p>Kozmetikumok</p>
<p>

    A kategória oldalak linkjét a ConfigService -ben tudjátok átnevezni.
</p>
<p>
    Mindket kategorianal a sajat kategoria termekei jelenjenek meg (catId alapjan kell szurni)

</p>
<p>
    - Jelenjen meg itt is a kiemelt termék sor 5 termékkel a kategorian belul Ezek azok a termékek amelyek az adott kategóriához tartoznak és a featured tulajdonságuk true.

</p>
<p>
    - Jelenjen meg alatta a terméklista. Itt az összes termék látható legyen rácsrendszerben, amely az adott kategóriában található. Azt, hogy melyik termék melyik kategóriában van, a catId mondja meg.

</p>
<p>
    - Legyen a terméklista tetején egy szűrőmező. Ez egy input mező, ha gépelni kezdenek bele, akkor a név alapján kezdje el szűrni a termékeket, a legutóbbi feladathoz hasonlóan.

</p>