<h2>Táplálék kiegészítők</h2>

<div *ngFor="let product of products">

    <h3>
        <a [title]="product.salePrice">
      {{ product.name }}
    </a>
    </h3>

    <p *ngIf="product.description">
        Termék leírás: {{ product.description }}
    </p>

    <p *ngIf="product.salePrice !=0">
        Akciós ár: {{ product.salePrice }}
    </p>

    <p *ngIf="product.featured == true">
        Kiemelt termék
    </p>

</div>

<p>
    - Jelenjen meg egy kiemelt termék sor az oldal tetején. (talan jumbotron)
</p>
<p>
    > 5 kiemelt terméket (featured = true termekekre vonatkozik) tartalmazzon, azok közül jelenjenek meg, amelyek featured tulajdonsága true.
</p>
<p>
    - Alatta legyen egy akciós termék sor (a kiemelt termékek alatt), ide 5db bármilyen random termék (salePrice alapjan. Ha ez nem 0 akkor akcios a termek )
</p>